
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

@model NoteMarketPlace.Models.AdminModel.AddCategoryModel


<div id="add-category">
    <div class="content-box-lg">

        <div class="contact-text">
            <h4>Add Category</h4>
        </div>

        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <div class="contact-inputs-02">
                            <label for="fullname">Category Name <span>*</span> </label>
                            @*<input type="text" class="form-control" id="fullname" placeholder="Enter category name">*@
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter category name", required="required" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="contact-inputs-02">
                            <label for="comment">Description <span>*</span> </label>
                            <div>
                                @*<textarea id="comment" class="form-control" placeholder="Enter your description"></textarea>*@
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Enter your description", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="contact-submit-btn">
                        <button class="btn" type="submit" formaction="@(ViewBag.Edit == true ? "AddCategory?id="+Model.Id : "AddCategory" )" formmethod="post">SUBMIT</button>
                    </div>

                </div>
            </div>

        }

    </div>
</div>


