
@model NoteMarketPlace.Models.ForgotPassword

@{
    var display = "none";
    if (TempData["HasEmail"] != null)
    {
        display = "block";
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <!-- Fav icon -->
    <link rel="shortcut icon" href="~/img/favicon.ico">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="~/Content/forgot-pwd.css">

</head>

<body>

    <div id="forgot-pwd">

        <div class="main-content">

            <div class="logo">
                <img src="~/img/top-logo.png" alt="Logo" class="img-fluid">
            </div>


            <div class="content">


                @using (Html.BeginForm("Change_Password", "ForgotPassword", FormMethod.Post))
                {

                    <h2>Forgot Password?</h2>
                    <p>Enter your Email to reset your password</p>

                    <p style="margin:0;color: #6255a5">@TempData["Message"]</p>

                    <div class="form-group">
                        <div class="elements">
                            <span>Email</span>
                            <!--<input type="email" class="form-control" placeholder="Enter your Email" id="email" name="Email" required>-->
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", placeholder = "Enter your Email", required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "*Email is not registered", new { @class = "text-danger", style = "display: " + display })
                    </div>


                    <div id="submit-btn">
                        <button class="btn btn-submit" type="submit">SUBMIT</button>
                    </div>

                }

            </div>

        </div>

    </div>


    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/Scripts/scripts.js"></script>


</body>

</html>