
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Nav.cshtml";
}


<!-- Home -->
<div id="home">

    <!--  Intro -->
    <img id="home-img" src="~/img/banner/banner-with-overlay-3.jpg" alt="banner" class="img-fluid">

    <div class="home-text">
        <div class="vertical-center">
            <h1>Download Free/Paid Notes <br>or Sale your Books</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci ipsum <br>
                tempore sapiente reprehenderit est
            </p>
            <div id="btn-home">
                <a class="btn home-btn" href="FAQ" title="Learn More" role="button">LEARN MORE</a>
            </div>
        </div>
    </div>
    <!--  Intro Ends -->
    <!-- About -->
    <div id="home-about">

        <div class="content-box-lg">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="home-about-left">
                        <h2>About <br>NotesMarketPlace</h2>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="home-about-right">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea iste soluta, magni
                            consequuntur sit et nesciunt, sapiente dignissimos vel numquam velit, quos consequatur
                            error adipisci quo? Tempore perspiciatis totam quisquam.
                        </p>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea iste soluta, magni
                            consequuntur sit et nesciunt, sapiente dignissimos vel numquam velit, quos consequatur
                            error adipisci quo? Tempore perspiciatis totam quisquam.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- About Ends -->
    <!-- How it Works -->
    <div id="home-works">

        <div class="content-box-lg">

            <h2>How it Works</h2>


            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="works-01">
                        <div class="works-round-01 img-circle"></div>
                        <h4>Download Free/Paid Notes</h4>
                        <p>Get Material for your <br>Cource etc.</p>
                        <button class="btn" onclick="Download()" >DOWNLOAD</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="works-02">
                        <div class="works-round-02 img-circle"></div>
                        <h4>Seller</h4>
                        <p>Upload and Download Course <br>and Materials etc. </p>
                        <button class="btn" onclick="Sell()" >SELL BOOK</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- How it Works Ends -->
<!-- Customers -->
<div id="home-customer">

    <div class="content-box-lg">

        <h2>What our Customers are Saying</h2>

        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="home-customers">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="~/img/Home/customer-1.png" alt="cust-1" class="img-circle">
                        </div>
                        <div class="col-md-8 col-sm-9 col-xs-10">
                            <h4>Walter Meller</h4>
                            <h5>Founder & CEO, Matrix Group</h5>
                        </div>
                    </div>

                    <p>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis unde obcaecati
                        magni numquam ullam? Rerum, numquam, ratione, nesciunt excepturi obcaecati"
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="home-customers">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="~/img/Home/customer-2.png" alt="cust-1" class="img-circle">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <h4>Jonnie Riley</h4>
                            <h5>Employee, Curious Snakcs</h5>
                        </div>
                    </div>

                    <p>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis unde obcaecati
                        magni numquam ullam? Rerum, numquam, ratione, nesciunt excepturi obcaecati"
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="home-customers">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="~/img/Home/customer-3.png" alt="cust-1" class="img-circle">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <h4>Amilia Luna</h4>
                            <h5>Teacher, Saint Joseph High School</h5>
                        </div>
                    </div>

                    <p>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis unde obcaecati
                        magni numquam ullam? Rerum, numquam, ratione, nesciunt excepturi obcaecati"
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="home-customers">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <img src="~/img/Home/customer-4.png" alt="cust-1" class="img-circle">
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <h4>Daniel Cardos</h4>
                            <h5>Software Engineer, Infinitum Company</h5>
                        </div>
                    </div>

                    <p>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis unde obcaecati
                        magni numquam ullam? Rerum, numquam, ratione, nesciunt excepturi obcaecati"
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Customers Ends -->

<script>

    function Download() {
        location.href = "Search_Notes";
    }

    function Sell() {
        location.href = "User/Sell_Note";
    }

</script>